@model LMCStore.Models.Area

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Area</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area_level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area_level)
        </dd>

    </dl>
</div>

    <h5>Autoparts</h5>

<table class="table-hover table-striped table-bordered">
    <tr>
        <th>Name</th>
        <th>Reference</th>
    </tr>
    @foreach (var p in Model.Products)
    {
        <tr>
            <td>@p.PRODUCT_NAME</td>
            <td>@p.PRODUCT_REFERENCE</td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Area_id }) |
    @Html.ActionLink("Back to List", "Inde")
</p>
